<form  action='/result'>
  <div class="form-group">
    <label for="first-string">Enter a word or sentence</label>
    <input id="first-string" name="first-string" type="text">
  </div>
  <div class="form-group">
    <label for="second-string">Enter another word or sentence</label>
    <input id="second-string" name="second-string" type="text">
  </div>
  <button type="submit" class="btn bg-primary">Check!</button>
</form>
