<!DOCTYPE html>
<html>
  <head>
    <title>Anagrams and Antigrams</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron jumbotorn-style">
        <h1 class="h1-style">Anagrams and Antigrams</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
