<h2>You have entered <span class="output-style"><%= @first_string%></span> and <span class="output-style"><%= @second_string%></span> </h2>
<div class="jumbotron">
  <h4><%= @output_message%></h4>
</div>
